<h1>Editing financial tittle</h1>

<%= render "form", financial_tittle: @financial_tittle %>

<br>

<div>
  <%= link_to "Show this financial tittle", @financial_tittle %> |
  <%= link_to "Back to financial tittles", financial_tittles_path %>
</div>
