<p style="color: green"><%= notice %></p>

<header class="header">
  <h1>Financial tittles</h1>
</header>

<div id="financial_tittles" class="main">
  <%= render 'financial_tittles/partial/filter'%>

  <section class="table">
    <div class="table__header">
        <div class="table__header-cell">Number</div>
        <div class="table__header-cell">Value</div>
        <div class="table__header-cell">Expiration date</div>
        <div class="table__header-cell">Cnpj assignor</div>
        <div class="table__header-cell">Cnpj payer</div>
    </div>
    
    <%= turbo_frame_tag :financial_tittles, style: "width: 100%;" do %>
      <% @financial_tittles&.each do |financial_tittle| %>
        <div class="table__body-row">
          <%= render financial_tittle %>
        </div>
      <% end %>
    <% end %>
  </section>
</div>
